<div class="welcome">

  <h1 class="main-title">Sweet ToDo Lists</h1>

  <% if current_user %>

  <h3> Welcome, <%= current_user.username %></h3>
  <p><%= link_to 'logout', logout_path, method: :delete %></p>
  <button class="mdl-button mdl-button--raised"><%= link_to 'BROWSE TODO LISTS', user_lists_path(current_user.id) %></button>

  <% else %>

  <ul id="welcome">
    <li>
      <h4><button class="mdl-button mdl-button--raised"><%= link_to 'LOGIN', new_session_path %></button></h4>
    </li>
    <li>
      <h4><button class="mdl-button mdl-button--raised"><%= link_to 'SIGN UP', new_user_path %></button></h4>
    </li>
  </ul>
  <% end %>
  <br>





</div>
