<div class="page">
  <h1>Sign Up</h1>

  <%= form_for(@user) do |f| %>
  <p>
    USERNAME: <%= f.text_field :username %>
  </p><br>
  <p>
    PASSWORD: <%= f.password_field :password %>
  </p><br>
  <p>
    CONFIRM PASSWORD: <%= f.password_field :password_confirmation %>
  </p><br>
  <%= f.submit "Sign Up" %>
  <% end %>

<br>

<%= link_to 'HOME', root_path %>
</div>
