<div class="page">
  <h1>Create a new todo list</h1>
  <%= form_for(@list, url: user_lists_path(@user.id)) do |f| %>
    <ul>
      <% @list.errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.submit 'Submit' %>
    </p>

  <% end %>
<%= link_to 'HOME', root_path %>
</div>
