<div class="page">
<p><%= @user.username %></p>
  <h1><%= @list.title %></h1>
  <ul>
    <% @list.todos.each do |todo| %>
    <li>
      <%= todo.content %><%= link_to 'delete', user_list_todo_path(@user.id, @list.id, todo.id), method: :delete %>
    </li>
    <% end %>
  </ul>

<h6>Add a ToDo</h6>

<%= form_for @todo, url: user_list_todos_path(@user.id, @list) do |f| %>
<%= f.text_field :content %>
<%= f.submit "add todo" %>
<% end %>


</div>
